<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mi Perfil</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/freelancer.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/CreateAssets.js"></script>
    <script src="app/CocineroController.js"></script>
</head>
<body style="background-image:url(http://imgs.mi9.com/uploads/abstract/4147/abstract-blue-backgrounds-34_1920x1200_71451.jpg)">

    <!-- HEADER SECTION -->

    <nav class="navbar navbar-default" ; ng-controller="CocineroCtrl" ng-init="getNavbarValues()">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="Cocinero.html" style="font-size: xx-large; font-style: oblique;"><img src="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/eat-circle-orange-512.png" 
                alt="Green dot" height="64" width="64">EatOnTimeTEC
                </a>
            </div> <!-- Carga de la imagen -->
            <ul class="nav navbar-nav">
                <!-- Carga de la barra superior con los datos del usuario -->
                <li><a href="#" id="userName"></a></li>
                <li><a href="#" id="userID"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="LogIn.html"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="position: relative" ng-controller="CocineroCtrl">
        <div class="jumbotron">
            <h2 style="text-align: center">Datos Personales</h2>
            
            <div class="row">
                <div class="row" style="padding-left: 390px;">
                    <div class="col-lg-5">
                        <label for="nomb">Nombre:</label>
                        <input type="text" class="form-control" id="nomb">
                    </div>
                </div>

                <div class="row" style="padding-left: 390px;">
                        <div class="col-lg-5">
                            <label for="apel">Apellidos:</label>
                            <input type="text" class="form-control" id="apel">
                        </div>
                </div>

                <div class="row" style="padding-left: 390px;">
                        <div class="col-lg-5">
                            <label for="cor">Correo:</label>
                            <input type="text" class="form-control" id="cor">
                        </div>
                </div>

                <div class="row" style="padding-left: 390px;">
                        <div class="col-lg-5">
                            <label for="tel">Teléfono:</label>
                            <input type="text" class="form-control" id="tel">
                        </div>
                </div>
                

                <div class="row" style="padding-left: 390px;">
                        <div class="col-lg-5">
                                <label for="pro">Provincia:</label>
                                <select class="form-control" id="pro">
                                    <option>San Jose</option>
                                    <option>Alajuela</option>
                                    <option>Cartago</option>
                                    <option>Heredia</option>
                                    <option>Guanacaste</option>
                                    <option>Puntarenas</option>
                                    <option>Limon</option>
                                </select>
                        </div>
                </div>
                
                <div class="row" style="padding-top: 20px;">
                    <div class="col-lg-4">
                        <button type="button" onclick="window.location.href='Cocinero.html'" class="btn btn-primary">Regresar</button>
                    </div>        
                    <div class="col-lg-4" style="left: 110px;">
                            <button type="button" ng-click="editar()" class="btn btn-primary">Guardar</button>
                    </div>       
                    <div class="col-lg-4" style="left: 190px;">
                            <button type="button" ng-click="darBaja()" class="btn btn-primary">Dar Cuenta de baja</button>
                    </div> 
                </div>
 
            </div>
       </div>
    </div>
    
</body>
</html>